<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="container">
      <ion-avatar>
        <img src="../../../assets/profile_picture.png" alt="" />
      </ion-avatar>
      <ion-label>
        <h2>Welcome,</h2>
        <h2 class="name">{{ userName }}</h2>
      </ion-label>
      <div class="spacer"></div>
      <div class="icons-container">
        <ion-avatar *ngIf="shouldShowFilter" class="ion-activatable" (click)="onFilterClick()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon name="filter">
          </ion-icon>
        </ion-avatar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
