<app-header-profile userName="Roman"></app-header-profile>

<ion-content [fullscreen]="true">
  <div class="no-notes" *ngIf="(notes$ | async) == null || (notes$ | async)?.length == 0">
    <ion-label>
      You do not have any notes.
    </ion-label>
  </div>
  <ion-list>
    <app-note-card *ngFor="let note of notes$ | async" [note]="note">
    </app-note-card>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-note']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
