<app-header-profile userName="Roman"></app-header-profile>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let note of notes">
      <img [src]="note.bannerPath" />
      <ion-card-header>
        <ion-card-title> {{ note.title }} </ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ note.content }} </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-note']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
