<app-header-profile userName="Roman"></app-header-profile>

<ion-content scrollY="false">
  <div class="container">
    <div [style.box-shadow]="titleBoxShadow" class="menu">
      <swiper
        #swiper
        [slidesPerView]="slidesPerView"
        [slidesOffsetBefore]="12"
        [slideToClickedSlide]="true"
        [loop]="true"
        [loopedSlides]="4"
        [loopedSlidesLimit]="false"
        (activeIndexChange)="onSlideChange($event)"
      >
        <ng-template swiperSlide>
          <ion-label [style.font-size]="titleSize" class="menu-item">
            Popular
          </ion-label>
        </ng-template>
        <ng-template swiperSlide>
          <ion-label [style.font-size]="titleSize" class="menu-item">
            Winners
          </ion-label>
        </ng-template>
        <ng-template swiperSlide>
          <ion-label [style.font-size]="titleSize" class="menu-item">
            Losers
          </ion-label>
        </ng-template>
        <ng-template swiperSlide>
          <ion-label [style.font-size]="titleSize" class="menu-item">
            Liquid
          </ion-label>
        </ng-template>
      </swiper>
    </div>
    <cdk-virtual-scroll-viewport
      *ngIf="(sortedCoins$ | async) != null && (sortedCoins$ | async)!.length > 0"
      [itemSize]="100"
      #cdkScroll
    >
      <ion-list>
        <div
          *cdkVirtualFor="let coin of sortedCoins$; trackBy: coinsTrackBy"
          #coinsList
        >
          <card-component
            [title]="coin.name"
            [description]="coin.symbol"
            [imageUrl]="coin.icon"
            [change]="coin.priceChange1d"
          ></card-component>
        </div>
      </ion-list>
    </cdk-virtual-scroll-viewport>
    <ion-list
      *ngIf="(sortedCoins$ | async) == null || (sortedCoins$ | async)!.length == 0"
      >|
      <div class="skeleton">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
    </ion-list>
  </div>
</ion-content>
