.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    ion-img {
        width: 70px;
        height: 70px;
    }

    ion-label {
        font-weight: 700;
        padding-top: 20px;
    }

    app-price-change-container {
        margin-top: 20px;
    }
}