ion-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    .coin-information {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ion-img {
        width: 70px;
        height: 70px;
    }

    ion-label {
        font-weight: 700;
        padding-top: 20px;
    }

    app-price-change-container {
        margin-top: 20px;
    }
}